<%= form_for(@trait) do |f| %>
  <% if @trait.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trait.errors.count, "error") %> prohibited this trait from being saved:</h2>

      <ul>
      <% @trait.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :display %><br>
    <%= f.text_field :display %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :trait_type_id %><br>
    <%= f.text_field :trait_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
