<h1>Listing traits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Display</th>
      <th>Description</th>
      <th>Trait type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traits.each do |trait| %>
      <tr>
        <td><%= trait.name %></td>
        <td><%= trait.display %></td>
        <td><%= trait.description %></td>
        <td><%= trait.trait_type.display %></td>
        <td><%= link_to 'Show', trait %></td>
        <td><%= link_to 'Edit', edit_trait_path(trait) %></td>
        <td><%= link_to 'Destroy', trait, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trait', new_trait_path %>
