<h1>Listing trait_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Display</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trait_types.each do |trait_type| %>
      <tr>
        <td><%= trait_type.name %></td>
        <td><%= trait_type.display %></td>
        <td><%= trait_type.description %></td>
        <td><%= link_to 'Show', trait_type %></td>
        <td><%= link_to 'Edit', edit_trait_type_path(trait_type) %></td>
        <td><%= link_to 'Destroy', trait_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trait type', new_trait_type_path %>
